<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="selectComments" resultType="HashMap">
		select * from
		FREE_BOARD_COMMENTS where UUID = #{UUID}
	</select>
	<insert id="registerComments">
		insert into FREE_BOARD_COMMENTS values
		(#{UUID},#{comments_UUID},sysdate,null,#{user_id},
		#{text})
	</insert>
	
	<delete id="deleteComments">
		delete from FREE_BOARD_COMMENTS where UUID=#{UUID}
	</delete>
</mapper>